@import url("styles.css");

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 30px;
    font-size: 15px;
    color: var(--font-color);

}

#new-project__button {
    background-color: #0091E6;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    color: var(--font-color);
}

#new-project__button:hover {
    background-color: #00b0e6;
    cursor:pointer;
    scale:1.2;
}

#action-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#action-buttons span:hover {
    cursor: pointer;
    scale:1.2;
}