#company-logo {
    align-items: center;
    padding: 30px; 
}

.navigation-area__tabs {
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 20px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;  
}

.navigation-area__tabs:hover {
    background-color: #0091E6;

}