:root {
    --font-color: white;
    --background-color100: #1E2022;
    --background-color200: #2F3133;
    --background-color300: #3e4042;
    --background-color-green100: #017F09;
    --background-color-green200: #33a53b;  
  }

.greyline_separator {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* clair et discret */
  margin: 5px 0px;
}